{
    "$schema": "https://json.schemastore.org/swcrc",
    "test": ".*\\.ts$",
    "sourceMaps": "inline",
    "inlineSourcesContent": true,
    "isModule": true,
    // "inputSourceMap": "./web.js",
    "exclude": [
        // "**/*.spec.ts",
        "node_modules"
    ],
    "jsc": {
        // "minify": {
        //     "compress": true,
        //     "dead_code": true
        // },
        // "baseUrl": "./src",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "dynamicImport": false,
            "decorators": true
        },
        "target": "es2015",
        "loose": true,
        // "externalHelpers": true,
        "keepClassNames": false,
        // "transform": {
        //     "constModules": {
        //         "globals": {
        //             "@pacman/env-flags": {
        //                 "DEBUG": "true"
        //             },
        //             "@pacman/features": {
        //                 "FEATURE_A": "false",
        //                 "FEATURE_B": "true"
        //             }
        //         }
        //     }
        // }
    },
    "minify": true,
    // "env": {
    //     "loose": true,
    //     "bugfixes": true
    // },
    "module": {
        "type": "es6",
        "strict": false,
        "strictMode": true,
        "lazy": false,
        "noInterop": false,
    }
}