#pacMan {

    border: 0;
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;
    position: absolute;

}

body {

    margin: 0;
    background-color: black;

}

.dot {

    border: 0;
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;
    position: absolute;
    display: inline-block;

}