* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #070200;
}

#game {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#board {
    position: relative;
}

.board-object {
    position: absolute;
}

.game-object {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main-square {
    background-color: #070200;
    border: 2px solid #2e27be;
    width: 100%;
    border-radius: 6px;
}

#wall-teleport-1 {
    left: 0;
    top: 130px;
    border-left: none;
}

#wall-teleport-1::before {
    border-left: none;
    border-top: none;
}

#wall-teleport-2 {
    right: 0;
    top: 130px;
    border-right: none;
}

#wall-teleport-2::before {
    border-right: none;
    border-top: none;
}

#wall-teleport-3 {
    left: 0;
    top: calc(100% - 192px);
    border-left: none;
}

#wall-teleport-3::before {
    border-left: none;
    border-bottom: none;
}

#wall-teleport-4 {
    right: 0;
    top: calc(100% - 192px);
    border-right: none;
}

#wall-teleport-4::before {
    border-right: none;
    border-bottom: none;
}

.wall {
    background-color: #070200;
    border: 2px solid #2e27be;
    border-radius: 6px;
}

#wall-3 {
    border-top: none;
}

#wall-8 {
    border-left: none;
}

#wall-10 {
    border-top: none;
}

#wall-11 {
    border-right: none;
}

#wall-16 {
    border-top: none;
}

#wall-18 {
    border-left: none;
}

#wall-20 {
    border-top: none;
}

#wall-23 {
    border-top: none;
}

#wall-25 {
    border-right: none;
}

#wall-27 {
    border-bottom: none;
}

#wall-29 {
    border-top: none;
}

#wall-31 {
    border-bottom: none;
}

#ghost-spawn-door {
    background-color: #f3cbf5;
    border-radius: 0;
}

#ghost-spawn,
#ghost-spawn-inner {
    border-radius: 0;
}

#pac-man {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.node {
    border-radius: 50%;
}

.path-line {
    background-color: white;
}

.grid-vert,
.grid-horiz {
    background-color: tomato;
    opacity: 0.3;
}

.grid-vert:hover,
.grid-horiz:hover {
    opacity: 1;
}

.grid-vert {
    width: 1px;
}

.grid-vert:before {
    content: '';
    width: 11px;
    height: 100%;
    display: block;
    left: -5px;
}

.grid-horiz {
    height: 1px;
}

.grid-horiz:before {
    content: '';
    width: 100%;
    height: 10px;
    display: block;
    top: -5px;
}