@font-face {
    font-family: pacmanFont;
    src: url(../fonts//Emulogic-zrEw.ttf);
}

:root {
    --bodyBackgroundColor: #070200;
    --defaultFont: pacmanFont;
    --defaultTransitionTime: 0.3s;
    --defaultClipPathPolygon: polygon(0px calc(100% - 6px),
            3px calc(100% - 6px),
            3px calc(100% - 3px),
            6px calc(100% - 3px),
            6px 100%,
            calc(100% - 6px) 100%,
            calc(100% - 6px) calc(100% - 3px),
            calc(100% - 3px) calc(100% - 3px),
            calc(100% - 3px) calc(100% - 6px),
            100% calc(100% - 6px),
            100% 6px,
            calc(100% - 3px) 6px,
            calc(100% - 3px) 3px,
            calc(100% - 6px) 3px,
            calc(100% - 6px) 0px,
            6px 0px,
            6px 3px,
            3px 3px,
            3px 6px,
            0px 6px);
    --pacmanColor: #ffeb3b;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--defaultFont);
}

body {
    background-color: var(--bodyBackgroundColor);
}

#game {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#board {
    position: relative;
}

.board-object,
.board-text-container {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.board-object {
    &.button {
        /* border: 1px solid white; */
        transition: color var(--defaultTransitionTime);
        cursor: pointer;
        /* border-radius: 8px; */
        align-items: center;
        clip-path: var(--defaultClipPathPolygon);

        &:hover {
            background-color: white;
            color: var(--bodyBackgroundColor) !important;
        }

        .button-inner {
            clip-path: var(--defaultClipPathPolygon);
        }
    }
}

.board-text-container {
    transition: var(--defaultTransitionTime);
}

.main-square {
    background-color: var(--bodyBackgroundColor);
    border: 2px solid #2e27be;
    width: 100%;
    border-radius: 6px;
    position: absolute;
}

#middle-cover {
    position: absolute;
}

#wall-teleport-1 {
    left: 0;
    top: 130px;
    border-left: none;

    &::before {
        border-left: none;
        border-top: none;
    }
}

#wall-teleport-2 {
    right: 0;
    top: 130px;
    border-right: none;

    &::before {
        border-right: none;
        border-top: none;
    }
}

#wall-teleport-3 {
    left: 0;
    top: calc(100% - 192px);
    border-left: none;

    &::before {
        border-left: none;
        border-bottom: none;
    }
}

#wall-teleport-4 {
    right: 0;
    top: calc(100% - 192px);
    border-right: none;

    &::before {
        border-right: none;
        border-bottom: none;
    }
}

.wall {
    background-color: var(--bodyBackgroundColor);
    border: 2px solid #2e27be;
    border-radius: 6px;
    position: absolute;
}

#wall-3 {
    border-top: none;
}

#wall-8 {
    border-left: none;
}

#wall-10 {
    border-top: none;
}

#wall-11 {
    border-right: none;
}

#wall-16 {
    border-top: none;
}

#wall-18 {
    border-left: none;
}

#wall-20 {
    border-top: none;
}

#wall-23 {
    border-top: none;
}

#wall-25 {
    border-right: none;
}

#wall-27 {
    border-bottom: none;
}

#wall-29 {
    border-top: none;
}

#wall-31 {
    border-bottom: none;
}

.teleport-cover {
    background-color: var(--bodyBackgroundColor);
    position: absolute;
}

#ghost-spawn-door {
    background-color: #f3cbf5;
    border-radius: 0;
}

#ghost-spawn,
#ghost-spawn-inner {
    border-radius: 0;
}

#pacman,
.ghost {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.node {
    border-radius: 50%;
}

.path-line {
    background-color: white;
    position: absolute;
}

.grid-vert,
.grid-horiz {
    background-color: tomato;
    opacity: 0.3;
    position: absolute;
}

.grid-vert:hover,
.grid-horiz:hover {
    opacity: 1;
}

.grid-vert {
    width: 1px;

    &::before {
        content: '';
        width: 11px;
        height: 100%;
        display: block;
        left: -5px;
    }
}

.grid-horiz {
    height: 1px;

    &::before {
        content: '';
        width: 100%;
        height: 10px;
        display: block;
        top: -5px;
    }
}

.ui-element {
    clip-path: var(--defaultClipPathPolygon);
    background-color: var(--pacmanColor);

    .ui-element-inner {
        --dimensions: calc(100% - 1px);

        width: var(--dimensions);
        height: var(--dimensions);
        background-color: var(--bodyBackgroundColor);
    }
}